.table__cell{
    width: 250px;
    font-size: 24px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 0;
    margin-top: 60px;
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }