@import url(./__iframes/.video__iframes.css);
@import url(./__iframe/.video__iframe.css);

.video{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 0;
  }