.header__main-illustration{
    width: 765px; 
    height: 608px; 
    z-index: 1; 
    right: 0; 
    bottom: 0; 
    position: absolute; 
    margin-right: 0; 
    background-image: url("./images/header_image.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    color: #2f80ed; 
  }