@keyframes spin-clockwise {
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}

.kaufman__triangle{
    top: 0;
    right: -210px;
    z-index: 0;
    position: absolute;
    overflow: hidden;
    height: 877px;
    width: 877px;
  }
  .spin-clockwise{
    animation: spin-clockwise 20s linear infinite;
  }