.feynman__title {
    font-size: 120px;
    line-height: 1.15;
    font-weight: bold;
    width: 775px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    text-align: center;
    justify-content: center;
    padding-top: 0px;
  }