@-webkit-keyframes spin-counterclockwise {
  from{
      -webkit-transform: rotate(345deg);
  }
  to{
      -webkit-transform: rotate(15deg);
  }
}

.header__square-pic {
    display: block;
    background-color: #2f80ed;
    height: 568px;
    width: 568px;
    top: 64px;
    right: 0;
    z-index: 0;
    position: absolute;
    transform: rotate(15deg);
  }
  .spin-counterclockwise{
    -webkit-animation: spin-counterclockwise 20s linear infinite;
  }