.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 100px;
  /* parameters for the header section */
}
.logo_place_header {
  width: 154px;
  height: 31px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}
.header__title{ 
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  align-self: center;
  margin-left: 64px;
}
.header__subtitle{
  width: 388px;
  font-size: 18px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-weight: normal;
  position: absolute;
}
.header__link{
  color: #2f80ed;
  text-decoration: none;
}
.header__main-illustration{
  width: 765px; 
  height: 608px; 
  z-index: 1; 
  right: 0; 
  bottom: 0; 
  position: absolute; 
  margin-right: 0; 
  background-image: url("./images/header_image.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  color: #2f80ed; 
}

.header__square-pic {
  display: block;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  z-index: 0;
  position: absolute;
}
/* page 2 */
.description{
  margin-bottom: 100px;
}
.two-columns{
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-content: center;
}
.two-columns__brief{
  width: 175px;
  font-size: 18px;
  margin-top: 0;
  line-height: 1.2;
  color: #2f80ed;
  font-weight: normal;
  
}
.two-columns__main-text{
  width: 80%;
  align-content: stretch;

}
.two-columns__paragraph{
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 784px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;

}

.two-columns__paragraph:first-of-type{
  margin-top: 0;
}
.two-columns__paragraph:last-of-type{
  margin-bottom:0;
}
.two-columns__span-accent{
  font-weight: bold;
}

/* page 3 */
.digits{
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  text-align: center;
}
.section-title{
  width: 60%;
  font-size: 60px;
  line-height: 69px;
  font-weight: bold;
  margin:0 auto 20px;
  padding: 0;
}
.section-subtitle{
  width: 60%;
  margin-top: 20px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-bottom: 0 auto;
  margin: 0 auto;
}

.table{
  display: flex;
  list-style: none;
  width: 1100px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;

}
.table__cell{
  width: 250px;
  font-size: 24px;
  font-weight: normal;
  text-align: left;
  margin-bottom: 0;
  margin-top: 60px;
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  
}
.table__heading{
  font-weight: bold;
  line-height: 1.15;
  font-size: 24px;
}
.table__text{
  font-weight: normal;
  line-height: 1.12;
  font-size: 18px;
  margin-top: 20px;
  
}
/* page 4 */
.feynman{
  min-height: 790px;
  display: flex;
  background-color: #f2f2f2;
  z-index: 1;
  flex-direction: column;
  position: relative;
  padding-top: 100px;
  padding-bottom: 0;
}



.feynman__title {
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  width: 775px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  text-align: center;
  justify-content: vertical;
  padding-top: 0px;
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  text-align: center;
  margin-top: 70px;
  font-weight: normal;
}
.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 0;
  text-decoration: none;
  color: black;
}

.feynman__background-pic{
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 90px;
  z-index: -1;

}

/*page 5*/
.kaufman{
  padding-bottom: 0;
  padding-top: 90px;
  display: flex;
  background-color: #1f1f1f;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  align-items: center;
  text-align: center;
  justify-content: center;
  color:#f2f2f2;

}
.section-title_theme_dark{
  width: 60%;
  padding-top: 0px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}
.section-subtitle_theme_dark{
  z-index: 1;
  width: 60%;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.table_theme_dark{
  z-index: 1;
  display: flex;
  list-style: none;
  PADDING-bottom: 90px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 1100px;
}
.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 1;
  text-align: left;
  margin-bottom: 0;
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.table__heading_theme_dark{
  z-index: 1;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text_theme_dark{
  z-index: 1;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.kaufman__triangle{
  top: 0;
  right: -210px;
  z-index: 0;
  position: absolute;
  overflow: hidden;
  background-image: url('../images/kaufman-triangle.svg');
  background-size: cover;
  height: 877px;
  width: 877px;
}
/*page 6*/
.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  color: white;
  display: flex;
}


.footer__columns {
  display: flex;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  width: 50%;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  background-image: url('../images/logo_place_footer.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
  list-style: none;
  color: white;
  text-decoration: none;
}


.footer__column_content_info {
  height: 100%;
  width: 20%;
  padding: 0;
  min-height: 250px;
}

.footer__column-heading {
  margin:0;
  margin-bottom: 20px; 
  line-height: 45px; 
  font-size: 18px;
  padding: 0;
  font-weight: bold;
  align-self: center;
}

.footer__column-links {
  text-decoration: none;
  color: white;
  list-style: none;
  padding: 0;
  margin:16px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-link{
  list-style: none;
  color: white;
  text-decoration: none;
}


.footer__column_content_social {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 250px;
}

.footer__social-icon {
  color: white;
  list-style: none;
  height: 16px;
  width:16px;
  padding-right: 10px;
}

