@import url(./__triangle/kaufman__triangle.css);

.kaufman{
    padding-bottom: 0;
    padding-top: 90px;
    display: flex;
    background-color: #1f1f1f;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    align-items: center;
    text-align: center;
    justify-content: center;
    color:#f2f2f2;
  }